<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.portal.servlet.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/StudentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.portal.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ApplicationServlet</servlet-name>
        <servlet-class>com.portal.servlet.ApplicationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ApplicationServlet</servlet-name>
        <url-pattern>/ApplicationServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>StudentDashboardServlet</servlet-name>
        <servlet-class>com.portal.servlet.StudentDashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentDashboardServlet</servlet-name>
        <url-pattern>/dashboard</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetSeatsServlet</servlet-name>
        <servlet-class>com.portal.servlet.GetSeatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetSeatsServlet</servlet-name>
        <url-pattern>/GetSeatsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetCoursesServlet</servlet-name>
        <servlet-class>com.portal.servlet.GetCoursesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetCoursesServlet</servlet-name>
        <url-pattern>/GetCoursesServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.portal.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CETServlet</servlet-name>
        <servlet-class>com.portal.servlet.CETServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CETServlet</servlet-name>
        <url-pattern>/CETServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.portal.servlet.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-class>com.portal.servlet.UpdateStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <url-pattern>/UpdateStatusServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>